<html>
    <body>
        <h2>admin dashboard</h2>
        <h3>Registered users</h3>

        <table border="1" cellpadding="5">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Role</th>
            </tr>
            {% for user in users %}
            <tr>
                <td>{{ user['id']}}</td>
                <td>{{ user['name']}}</td>
                <td>{{ user['email']}}</td>
                <td>{{ user['role']}}</td>
            </tr>
            {% endfor %}

        </table>
    </body>
</html>