{% extends "teacher_dashboard.html" %}

{% block content %}

<!DOCTYPE html>

<html>

<head>
    <title>Student Performance Lookup</title>
</head>

<body>

    <h2>Student Performnace Lookup</h2>

    <form method="POST">
        Student Register Number:
        <input type="text" name="register_no" required><br><br>
        <br>
        <button type="submit">View Report</button>

    </form>



    {% if message %}

        <p>{{ message }}</p>

    {% endif %}


{% if student_data %}
<h3>Performance History</h3>

<table border="1">
    <tr>
        <th>Semester</th>
        <th>Sub1</th>
        <th>Sub2</th>
        <th>Sub3</th>
        <th>Sub4</th>
        <th>Overall</th>
    </tr>

    {% for row in student_data %}
    <tr>
        <td>{{ row.semester }}</td>
        <td>{{ row.sub1_level }}</td>
        <td>{{ row.sub2_level }}</td>
        <td>{{ row.sub3_level }}</td>
        <td>{{ row.sub4_level }}</td>
        <td>{{ row.overall_result }}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}
     
{% if improvement %}
<p><b>{{ improvement }}</b></p>
{% endif %}


</body>

</html>

{% endblock %}